$color-primary: #F1CDB3; //rgba(241, 205, 179, 1)
$color-primary-transp: rgba(241, 205, 179, 0.2);
$color-primary-light: #FDDCC4;

$color-light-xl: #FFFFFF;
$color-light-l: #F6F6F6;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$clr-gradi-start: #5b483a; //rgba(91, 72, 58, 1)
$clr-gradi-end: #262425; //rgba(38, 36, 37, 1)
$clr-gradi2-start: #513d2f; //rgba(81, 61, 47, 1)
$clr-gradi2-end: #1a1a1c; //rgba(26, 26, 28, 1)
$clr-gradi-bg: #211f20; //rgba(33, 31, 32, 1)

$clr-txt: #C4C4C4;
