// $color-primary: #F1CDB3; //rgba(241, 205, 179, 1)
// $color-primary-transp: rgba(241, 205, 179, 0.2);

$color-light-xl: #FFFFFF;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$clr-txt: #C4C4C4;
