@import "colors";

h2, h3, h4, h5, .logo__title {
  color: $clr-txt;
}

h2, h3, h4, h5, .logo__title {
  font-family: 'Rubik', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
} 

h2 {
  font-size: 4.4rem; // 44px
  line-height: 130%;  /* or 57px */
}

h3 {
  font-size: 35px; // 35px
  line-height: 130%;  /* or 45px */
  // letter-spacing: 0.06em;
}
